@media screen and (max-width: 767px) {
  button {
    font: 1.4em sans-serif;
  }
  .clickmenu {
    height: 26vh;
    width: calc(26vh * 0.7071);
  }
  h2 {
    margin: 0 6px;
    font-size: 2em;
  }
  .fa-music {
    font-size: 2em;
  }
  article {
    width: 96vw;
    margin-bottom: 10.5vh;
  }
  p {
    margin: 3px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font: bold 2.5em sans-serif;
  }
  h2 {
    font-size: 2.2em;
    margin: 0;
  }
  .fa-music {
    font-size: 2.2em;
  }
  article {
    min-height: 73vh;
    width: calc(73vh * 0.7071);
    margin-bottom: 8.5vh;
  }
  button {
    font: 2vh sans-serif;
  }
  .clickmenu {
    height: 35vh;
    width: calc(35vh * 0.7071);
  }
  .fa-music {
    font-size: 2em;
    margin: 0 10px;
  }
  p {
    margin: 5px;
  }
}

@media screen and (max-width: 1023px) {
  header {
    width: 100%;
  }
  main {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  header {
    width: 70.71vh;
  }
  .clickmenu {
    height: 32vh;
    width: calc(32vh * 0.7071);
  }
  main {
    width: 70.71vh;
  }
  footer {
    width: 70.71vh;
  }
}

body {
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-color: #579c87;
  color: #fdcb46;
}

h1 {
  font-family: sans-serif;
  margin: 1.3vh 0;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  margin: 0.5vh 0;
}

#logo {
  letter-spacing: -0.075em;
}

.fontN {
  font-weight: normal;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#lne {
  background-color: #fcdfdb;
  font-family: cursive;
  color: #492025;
}

.h2Lne {
  font-family: 'Roboto Slab', serif;
  font-family: 'Alex Brush', cursive;
}

.fa-music {
  color: #dd65d3;
}

#lcf {
  background-color: #fff5fe;
  font-family: 'Roboto Slab', serif;
  font-family: 'EB Garamond', serif;
  color: #920fcf;
}

#pap {
  background-color: #edefef;
  font-family: cursive;
}

.h2Pap {
  font-family: 'Roboto Slab', serif;
  font-family: 'Alex Brush', cursive;
  font-family: 'Mr Dafoe', cursive;
  color: blue;
}

#plt {
  background-color: #fdfffd;
  font-family: cursive;
}

.h2Plt {
  font-family: 'Alex Brush', cursive;
  font-family: 'Mr Dafoe', cursive;
  font-family: 'Roboto Slab', serif;
  font-family: 'Merienda One', cursive;
  color: chartreuse;
}

section {
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#lanote {
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#sectionlanote2 {
  margin: 4%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionColone {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#imageMenu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  padding: 20px;
  background-color: #579c87;
  border: none;
  border-radius: 15px;
  font-family: sans-serif;
}

a {
  color: #fdcb46;
  text-decoration: none;
}

.pBold {
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #579c87;
  text-align: center;
}

.afooter {
  padding: 20px;
  background-color: #579c87;
  border: none;
  border-radius: 15px;
  font-family: sans-serif;
}
/*# sourceMappingURL=stylemenu.css.map */