$green: #579c87;
$orange:#fdcb46;
$white:#ffffff;
$pink:#fcdfdb;
$sakura:#fff5fe;
$brown:#492025;
$clearcyan:#edefef;
$cleargreen:#fdfffd;


@media screen and (max-width: 767px){
    

    button{
        font: 1.4em sans-serif;
    }

    .clickmenu{
        height: 26vh;
        width: calc(26vh * 0.7071);
    }

    h2{
        margin: 0 6px;
        font-size: 2em;
    }
    .fa-music{
        font-size: 2em;
    }

    article{
        width: 96vw;
        min-height: 73vh;
        margin-bottom: 10.5vh;

    }
    p{
        margin: 3px;
    }

    
}

@media screen and (min-width:768px){

    h1{
        font: bold 2.5em sans-serif;
    }


    h2{
        font-size: 2em;
        margin: 0;
    }


    .fa-music{
        font-size: 2.2em;
        
    }

    article{
        min-height: 73vh;
        width: calc(73vh * 0.7071);
        margin-bottom: 8.5vh;
    }
    

   
    button{
        font: 2vh sans-serif;
    }
.clickmenu{
        height: 35vh;
        width: calc(35vh * 0.7071);
    }
    .fa-music{
        font-size: 2em;
        margin: 0 10px;
    }
    p{
        margin:5px
    
    }

}
@media screen and (max-width: 1023px){
    header{
        width: 100%;
    }

    main{
        width: 100%;
    }


    footer{
        width: 100%;
    }
}


@media screen and (min-width: 1024px){
    header{
        width: 70.71vh;
    }

    .clickmenu{
        height: 32vh;
        width: calc(32vh * 0.7071);
    }
    
    main{
        width: 70.71vh;
    }

    
    footer{
        width: 70.71vh;
    }



}





body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


header{
    background-color: $green;
    color: $orange;
    
}
h1{
    font-family: sans-serif;
    margin: 1.3vh 0;
    text-align: center;
}

h2{
    text-align: center;
    
}
h3{
    margin: 0.5vh 0;
}
#logo{
    letter-spacing: -0.075em;
}

.fontN{
    font-weight: normal;
}
main{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

}
#lanote{
    bottom: 0;
    justify-content: center;
    text-align: center;
    margin: 1.5vh;
}

#lne{
    background-color: $pink;
    font-family: cursive ;
    color:$brown;
}
.h2Lne{
    font-family: 'Roboto Slab', serif;
    font-family: 'Alex Brush', cursive;
    
}

.fa-music{
    color: rgb(221, 101, 211);
}

#lcf{
    background-color: $sakura;
    font-family: 'Roboto Slab', serif;
    font-family: 'EB Garamond', serif;
    color: rgb(146, 15, 207);

}


#pap{
    background-color: $clearcyan;
    font-family: cursive ;
}

.h2Pap{
    font-family: 'Roboto Slab', serif;
    font-family: 'Alex Brush', cursive;
    font-family: 'Mr Dafoe', cursive;
    color: blue;
}

#plt{
    background-color: $cleargreen;
    font-family: cursive ;
}
.h2Plt{
    font-family: 'Alex Brush', cursive;
    font-family: 'Mr Dafoe', cursive;
    font-family: 'Roboto Slab', serif;
    font-family: 'Merienda One', cursive;
    color: chartreuse;
}

section{
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
}



#sectionlanote2{
    margin: 4%;
    justify-content: center;
    
}


.sectionColone{
    flex-direction: column;
    justify-content: space-between;
}
div{
    display: flex;
    justify-content: space-between;
}

#imageMenu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


button{
    padding: 20px;
    background-color: $green;
    border: none;
    border-radius: 15px;
    font-family: sans-serif;
    
}
a{
    color: $orange;
    text-decoration: none;
}


.pBold{
    font-weight: bold;
}


footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: $green;
    text-align: center;
    
}


.afooter{
    padding: 20px;
    background-color: $green;
    border: none;
    border-radius: 15px;
    font-family: sans-serif;
    
}