@media screen and (max-width: 767px) {
  button {
    font: 1.4em sans-serif;
  }
  .clickmenu {
    height: 26vh;
    width: calc(26vh * 0.7071);
  }
  h2 {
    margin: 0 6px;
    font-size: 2em;
  }
  .fa-music {
    font-size: 2em;
  }
  article {
    width: 96vw;
    min-height: 73vh;
    margin-bottom: 10.5vh;
  }
  p {
    margin: 3px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font: bold 2.5em sans-serif;
  }
  h2 {
    font-size: 2em;
    margin: 0;
  }
  .fa-music {
    font-size: 2.2em;
  }
  article {
    min-height: 86vh;
    width: calc(86vh * 0.7071);
    margin-bottom: 8.5vh;
  }
  button {
    font: 2vh sans-serif;
  }
  .clickmenu {
    height: 35vh;
    width: calc(35vh * 0.7071);
  }
  .fa-music {
    font-size: 2em;
    margin: 0 10px;
  }
  p {
    margin: 5px;
  }
}

@media screen and (max-width: 1023px) {
  main {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .clickmenu {
    height: 32vh;
    width: calc(32vh * 0.7071);
  }
  main {
    width: 70.71vh;
  }
}

body {
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  width: 100%;
  background-color: #579c87;
  color: #fdcb46;
}

h1 {
  font-family: sans-serif;
  margin: 1.3vh 0;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  margin: 0.5vh 0;
  text-decoration: none;
  line-height: 50px;
  padding: 0 10px;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
}

h3:after {
  content: '';
  text-align: left;
  display: block;
  height: 2px;
  width: 0px;
  -webkit-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

h3:hover:after {
  width: 100%;
  background: black;
}

.trait {
  content: '';
  text-align: left;
  display: block;
  height: 6px;
  width: 18%;
  margin: 0 5px;
}

.trait_lanote {
  background-color: #492025;
}

.trait_lcf1 {
  background-color: brown;
}

.trait_lcf2 {
  background-color: purple;
}

.trait_lcf3 {
  background-color: blue;
}

.trait_pap1 {
  background-color: #24b8fc;
}

.trait_pap2 {
  background-color: #2470fc;
}

.trait_pap3 {
  background-color: #2e00fc;
}

.trait_pgcolor {
  background: -webkit-gradient(linear, left top, right top, from(#029e487e), to(#e1fd7a));
  background: linear-gradient(to right, #029e487e, #e1fd7a);
}

.trait_pgcolor2 {
  background: -webkit-gradient(linear, right top, left top, from(#029e487e), to(#e1fd7a));
  background: linear-gradient(to left, #029e487e, #e1fd7a);
}

.soustitre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  letter-spacing: -0.075em;
}

.fontN {
  font-weight: normal;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 14vh;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#lanote {
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 1.2vh;
}

#lne {
  background-color: #fcdfdb;
  font-family: cursive;
  color: #492025;
}

.h2Lne {
  font-family: 'Roboto Slab', serif;
  font-family: 'Alex Brush', cursive;
}

#lcfcolor {
  background-image: -webkit-gradient(linear, left top, right top, from(brown), color-stop(purple), to(blue));
  background-image: linear-gradient(to right, brown, purple, blue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#papcolor {
  background-image: -webkit-gradient(linear, left top, right top, from(#24b8fc), color-stop(#2470fc), to(#2e00fc));
  background-image: linear-gradient(to right, #24b8fc, #2470fc, #2e00fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#pgcolor {
  background-image: -webkit-gradient(linear, left top, right top, from(#029e487e), to(#e1fd7a));
  background-image: linear-gradient(to right, #029e487e, #e1fd7a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.lcfcolor1 {
  color: brown;
}

.lcfcolor2 {
  color: purple;
}

.lcfcolor3 {
  color: blue;
}

.fa-music {
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(orange));
  background-image: linear-gradient(to right, red, orange);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#lcf {
  background-color: #fff5fe;
  font-family: 'Roboto Slab', serif;
  font-family: 'EB Garamond', serif;
}

#pap {
  background-color: #edefef;
  font-family: cursive;
}

.h2Pap {
  font-family: 'Roboto Slab', serif;
  font-family: 'Alex Brush', cursive;
  font-family: 'Mr Dafoe', cursive;
  color: blue;
}

#plt {
  background-color: #fdfffd;
  font-family: cursive;
}

.h2Plt {
  font-family: 'Alex Brush', cursive;
  font-family: 'Mr Dafoe', cursive;
  font-family: 'Roboto Slab', serif;
  font-family: 'Merienda One', cursive;
  color: chartreuse;
}

section {
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sectionlanote2 {
  margin: 4%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionColone {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#imageMenu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  padding: 20px;
  background-color: #579c87;
  border: none;
  border-radius: 15px;
  font-family: sans-serif;
}

a {
  color: #fdcb46;
  text-decoration: none;
}

.pBold {
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #579c87;
  text-align: center;
}

.aFooter {
  margin: 20px;
  font-size: 1.4em;
}

.aFooter:hover {
  -webkit-animation: wiggle 0.7s;
          animation: wiggle 0.7s;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*# sourceMappingURL=stylemenu.css.map */