$green: #579c87;
$orange:#fdcb46;
$white:#ffffff;
$pink:#fcdfdb;
$sakura:#fff5fe;
$brown:#492025;
$clearcyan:#edefef;
$cleargreen:#fdfffd;


@media screen and (max-width: 766px){
    section{
        width: 300px;
    }

    #imageMenu{
        flex-direction: column;
    
    }

    button{
        height: 76px;
    }
}

@media screen and (min-width: 767px){
    section{
        width: 600px;
    }

    button{
        height: 38px;
    }
}

@media screen and (min-width: 1279px){
    section{
        width: 50vh;
    }

    button{
        height: 38px;
    }

    footer{
        width: 70vh;
    }
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


header{
    background-color: $green;
    color: $orange;
    text-align: center;
    width: 66vh;
}
h1{
    font-family: sans-serif;
    font: bold 3em sans-serif;
    letter-spacing: -0.075em;
}

article{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 0 98px 0;
}

#lne{
    background-color: $pink;
    color: $brown;
    padding: 40px 25px
}

#lcf{
    background-color: $sakura;
    color: $brown;
    padding:  40px 25px;
}

#pap{
    background-color: $clearcyan;
    color: $brown;
    padding: 40px 25px;
}

#plt{
    background-color: $cleargreen;
    color: $brown;
    padding: 40px 25px;
}

section{
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
}

.sectionColone{
    flex-direction: column;
}

#imageMenu{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


button{
    margin: 10px 3%;
    background-color: $green;
    border: none;
    border-radius: 15px;
    font-family: sans-serif;
    font: 1.5em sans-serif;
    
}
a{
    color: $orange;
    text-decoration: none;
}

.clickmenu{
    background-color: $pink;
    width: 44%;
    height: 44%;
    margin: 3%;
}

img{
    max-width: 90%;
}

.pBold{
    font-weight: bold;
}

footer{
    position: fixed;
    bottom: 0;
    width: 66vh;
    display: flex;
    justify-content: space-around;
    background-color: $green;
    text-align: center;
    
}