$green: #579c87;
$orange:#fdcb46;
$white:#ffffff;
$pink:#fcdfdb;
$sakura:#fff5fe;
$brown:#492025;
$clearcyan:#edefef;
$cleargreen:#fdfffd;


@media screen and (max-width: 767px){
    
    button{
        font: 1.4em sans-serif;
    }

    .clickmenu{
        height: 26vh;
        width: calc(26vh * 0.7071);
    }

    h2{
        font-size: 1em;
        margin: 2px 0;
    }
    p{
        margin: 3px;
    }
}

@media screen and (min-width:768px){

    h1{
        font: bold 2.5em sans-serif;
    }

    h2{
        font-size: 1.2em;
    }

    h3{
        font-size: 1em;
    }

    button{
        font: 2vh sans-serif;
    }
.clickmenu{
        height: 35vh;
        width: calc(35vh * 0.7071);
    }
    .fa-music{
        font-size: 2em;
        margin: 0 10px;
    }
    p{
        margin:5px
    
    }

}
@media screen and (max-width: 1023px){
    header{
        width: 100%;
    }

    main{
        width: 100%;
    }

    footer{
        width: 100%;
    }
}


@media screen and (min-width: 1024px){
    header{
        width: 70.71vh;
    }

    .clickmenu{
        height: 32vh;
        width: calc(32vh * 0.7071);
    }

    main{
        width: 70.71vh;
    }

    footer{
        width: 70.71vh;
    }
}





body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


header{
    background-color: $green;
    color: $orange;
    text-align: center;
    
}

h1{
    font-family: sans-serif;
    letter-spacing: -0.075em;
}

main{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

nav{
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#imageMenu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

button{
    color: $orange;
    text-decoration: none;
}
#buttonMenu{
    align-items: center;
    margin-bottom: 2.5vh;
}
.clickmenu{
    background-color: $pink;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#lne{
    background-color: $pink;
    color:$brown;
}

.fa-music{
    color: rgb(221, 101, 211);
}

.h2Lne{
    font-family: 'Roboto Slab', serif;
    font-family: 'Alex Brush', cursive;
    margin-top: 0;
    
}

#lcf{
    background-color: $sakura;
    font-family: 'Roboto Slab', serif;
    font-family: 'EB Garamond', serif;
    color: rgb(146, 15, 207);
}

.pBold{
    font-weight: bold;
}

#pap{
    background-color: $clearcyan;
    color: blue;
}

.h2Pap{
    font-family: 'Roboto Slab', serif;
    font-family: 'Alex Brush', cursive;
    font-family: 'Mr Dafoe', cursive;
    
}

#plt{
    background-color: $cleargreen;
    color: chartreuse;
}

.h2Plt{
    font-family: 'Alex Brush', cursive;
    font-family: 'Mr Dafoe', cursive;
    font-family: 'Roboto Slab', serif;
    font-family: 'Merienda One', cursive;
}

#buttonProch{
     height: 1.7em;
     padding: 0 4vh;
     font: 1.7em sans-serif;
 }

button{
    padding: 20px;
    background-color: $green;
    border: none;
    border-radius: 15px;
    font-family: sans-serif;
}

 
footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: $green;
    text-align: center;
    position: relative;
}
