$green: #579c87;
$orange:#fdcb46;
$white:#ffffff;
$pink:#fcdfdb;
$sakura:#fff5fe;
$brown:#492025;
$clearcyan:#edefef;
$cleargreen:#fdfffd;



@media screen and (max-width: 898px){


    main{
        width: 100%;
    }

    footer{
        justify-content: space-between;
    }

}


@media screen and (min-width: 899px){

    main{
        width: 70.71vh;
    }

    footer{
        justify-content: space-around;
    }

    
}




    .clickmenu{
        height: 32vh;
        width: calc(32vh * 0.7071);
    }


body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


header{
    width: 100%;
    background-color: $green;
    color: $orange;
    text-align: center;
    
}

h1{
    font-family: sans-serif;
    letter-spacing: -0.075em;
}

main{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

nav{
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#imageMenu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

a{
    color: $orange;
    text-decoration: none;
}
#buttonMenu{
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5vh;
}
.clickmenu{
    background-color: $pink;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#lne{
    background-color: $pink;
    color:$brown;
}

.fa-music{
    color: rgb(221, 101, 211);
}

.h2Lne{
    font-family: 'Roboto Slab', serif;
    font-family: 'Alex Brush', cursive;
    margin-top: 0;
    
}

#lcf{
    background-color: $sakura;
    font-family: 'Roboto Slab', serif;
    font-family: 'EB Garamond', serif;
    color: rgb(146, 15, 207);
}

.pBold{
    font-weight: bold;
}

#pap{
    background-color: $clearcyan;
    color: blue;
}

.h2Pap{
    font-family: 'Roboto Slab', serif;
    font-family: 'Alex Brush', cursive;
    font-family: 'Mr Dafoe', cursive;
    
}

#plt{
    background-color: $cleargreen;
    color: chartreuse;
}

.h2Plt{
    font-family: 'Alex Brush', cursive;
    font-family: 'Mr Dafoe', cursive;
    font-family: 'Roboto Slab', serif;
    font-family: 'Merienda One', cursive;
}

#buttonProch{
     
     padding: 0.5vh 4vh;
     font: 1.4em sans-serif;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    background-color: $green;
    text-align: center;
}

.afooter{
    padding: 20px;
    background-color: $green;
    border: none;
    border-radius: 15px;
    font-family: sans-serif;
    
}

 

