@media screen and (max-width: 699px) {
  main {
    width: 100%;
    margin: 60px 20px;
  }
  footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .aFooter {
    margin: 7px;
  }
  .clickmenu {
    height: 48vh;
    width: calc(48vh * 0.7071);
  }
}

@media screen and (min-width: 700px) {
  .clickmenu {
    height: 33vh;
    width: calc(33vh * 0.7071);
  }
  main {
    width: 70.71vh;
  }
  footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .aFooter {
    margin: 20px;
  }
}

body {
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  width: 100%;
  background-color: #579c87;
  color: #fdcb46;
  text-align: center;
}

h1 {
  font-family: sans-serif;
  letter-spacing: -0.075em;
  margin: 10px 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.imageMenu {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  color: #fdcb46;
  text-decoration: none;
}

.clickmenu {
  margin: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.clickmenu:hover {
  opacity: 0.5;
  font-size: 1.5em;
}

.clickmenu__lne {
  background-color: #fcdfdb;
  color: #492025;
  font-weight: bold;
}

.clickmenu__lne--h2 {
  font-family: 'Roboto Slab', serif;
  font-family: 'Alex Brush', cursive;
  margin-top: 0;
}

.clickmenu__lcf {
  background-color: #fff5fe;
  font-family: 'Roboto Slab', serif;
  font-family: 'EB Garamond', serif;
  color: #492025;
}

.clickmenu__pap {
  background-color: #ebfafa;
}

.clickmenu__pap--h2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#24b8fc), color-stop(#2470fc), to(#2e00fc));
  background-image: linear-gradient(to right, #24b8fc, #2470fc, #2e00fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Roboto Slab', serif;
  font-family: 'Alex Brush', cursive;
  font-family: 'Mr Dafoe', cursive;
}

.clickmenu__plt {
  background-color: #f5fff5;
}

.clickmenu__plt--h2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#029e487e), to(#e1fd7a));
  background-image: linear-gradient(to right, #029e487e, #e1fd7a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Alex Brush', cursive;
  font-family: 'Mr Dafoe', cursive;
  font-family: 'Roboto Slab', serif;
  font-family: 'Merienda One', cursive;
}

.fa-music {
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(orange));
  background-image: linear-gradient(to right, red, orange);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#buttonMenu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5vh;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579c87;
  text-align: center;
}

.aProch {
  padding: 20px;
  background-color: #579c87;
  border: none;
  border-radius: 15px;
  font-family: sans-serif;
  width: 184px;
  margin-top: 2vh;
  padding: 0.5vh 4vh;
  font: 1.4em sans-serif;
}

.aProch::before
.aProch:after {
  display: inline-block;
  -webkit-animation: suspension 3s infinite;
          animation: suspension 3s infinite;
  content: 'suspension';
}

.aProch:after {
  display: inline-block;
  -webkit-animation: suspension 3s infinite;
          animation: suspension 3s infinite;
  content: 'suspension';
}

@-webkit-keyframes suspension {
  0% {
    content: '';
  }
  20% {
    content: '.';
  }
  40% {
    content: '..';
  }
  60% {
    content: '...';
  }
  80% {
    content: '....';
  }
  100% {
    content: '';
  }
}

@keyframes suspension {
  0% {
    content: '';
  }
  20% {
    content: '.';
  }
  40% {
    content: '..';
  }
  60% {
    content: '...';
  }
  80% {
    content: '....';
  }
  100% {
    content: '';
  }
}

.aFooter {
  font-size: 1.4em;
}

.aFooter:hover {
  -webkit-animation: wiggle 0.7s;
          animation: wiggle 0.7s;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

#lcfcolor {
  background-image: -webkit-gradient(linear, left top, right top, from(brown), color-stop(purple), to(blue));
  background-image: linear-gradient(to right, brown, purple, blue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/*# sourceMappingURL=style.css.map */